<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>H</key>
    <string>H_.glif</string>
    <key>approxequal</key>
    <string>approxequal.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>caron.case</key>
    <string>caron.case.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>circumflex.case</key>
    <string>circumflex.case.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>euro</key>
    <string>euro.glif</string>
    <key>exclamdown</key>
    <string>exclamdown.glif</string>
    <key>five.dnom</key>
    <string>five.dnom.glif</string>
    <key>four.dnom</key>
    <string>four.dnom.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>greaterequal</key>
    <string>greaterequal.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>micro</key>
    <string>micro.glif</string>
    <key>ogonek</key>
    <string>ogonek.glif</string>
    <key>one.numr</key>
    <string>one.numr.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>plusminus</key>
    <string>plusminus.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>quotedblbase</key>
    <string>quotedblbase.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quotesinglbase</key>
    <string>quotesinglbase.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>three.numr</key>
    <string>three.numr.glif</string>
    <key>tilde</key>
    <string>tilde.glif</string>
    <key>tilde.case</key>
    <string>tilde.case.glif</string>
    <key>two.dnom</key>
    <string>two.dnom.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
  </dict>
</plist>
