<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Thorn</key>
    <dict>
      <key>asterisk</key>
      <integer>-5</integer>
      <key>backslash</key>
      <integer>-20</integer>
      <key>bullet</key>
      <integer>4</integer>
      <key>exclam</key>
      <integer>10</integer>
      <key>exclamdown</key>
      <integer>20</integer>
      <key>periodcentered</key>
      <integer>25</integer>
      <key>questiondown</key>
      <integer>-20</integer>
      <key>slash</key>
      <integer>-40</integer>
      <key>trademark</key>
      <integer>-16</integer>
      <key>underscore</key>
      <integer>-54</integer>
    </dict>
    <key>ampersand</key>
    <dict>
      <key>eth</key>
      <integer>-10</integer>
      <key>parenright</key>
      <integer>-15</integer>
    </dict>
    <key>asterisk</key>
    <dict>
      <key>eth</key>
      <integer>-25</integer>
    </dict>
    <key>backslash</key>
    <dict>
      <key>backslash</key>
      <integer>-92</integer>
      <key>eth</key>
      <integer>-22</integer>
      <key>germandbls</key>
      <integer>-6</integer>
    </dict>
    <key>bullet</key>
    <dict>
      <key>Eth</key>
      <integer>6</integer>
    </dict>
    <key>dcaron</key>
    <dict>
      <key>asterisk</key>
      <integer>72</integer>
      <key>backslash</key>
      <integer>110</integer>
      <key>bracketright</key>
      <integer>132</integer>
      <key>eth</key>
      <integer>10</integer>
      <key>parenright</key>
      <integer>126</integer>
      <key>quotedbl</key>
      <integer>98</integer>
      <key>quotedblleft</key>
      <integer>90</integer>
      <key>quotedblright</key>
      <integer>110</integer>
      <key>thorn</key>
      <integer>60</integer>
      <key>trademark</key>
      <integer>118</integer>
    </dict>
    <key>endash</key>
    <dict>
      <key>Eth</key>
      <integer>6</integer>
    </dict>
    <key>eth</key>
    <dict>
      <key>asterisk</key>
      <integer>-15</integer>
      <key>periodcentered</key>
      <integer>10</integer>
      <key>questiondown</key>
      <integer>-20</integer>
      <key>slash</key>
      <integer>-29</integer>
      <key>underscore</key>
      <integer>-54</integer>
    </dict>
    <key>germandbls</key>
    <dict>
      <key>asterisk</key>
      <integer>-20</integer>
      <key>backslash</key>
      <integer>-5</integer>
      <key>periodcentered</key>
      <integer>10</integer>
      <key>slash</key>
      <integer>-12</integer>
      <key>underscore</key>
      <integer>-34</integer>
    </dict>
    <key>lcaron</key>
    <dict>
      <key>asterisk</key>
      <integer>28</integer>
      <key>backslash</key>
      <integer>86</integer>
      <key>bracketright</key>
      <integer>100</integer>
      <key>eth</key>
      <integer>10</integer>
      <key>parenright</key>
      <integer>106</integer>
      <key>quotedbl</key>
      <integer>62</integer>
      <key>quotedblleft</key>
      <integer>66</integer>
      <key>quotedblright</key>
      <integer>78</integer>
      <key>thorn</key>
      <integer>60</integer>
      <key>trademark</key>
      <integer>90</integer>
    </dict>
    <key>parenleft</key>
    <dict>
      <key>thorn</key>
      <integer>15</integer>
    </dict>
    <key>periodcentered</key>
    <dict>
      <key>eth</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1.A</key>
    <dict>
      <key>public.kern2.C</key>
      <integer>-5</integer>
      <key>public.kern2.T</key>
      <integer>-50</integer>
      <key>public.kern2.U</key>
      <integer>-10</integer>
      <key>public.kern2.V</key>
      <integer>-92</integer>
      <key>public.kern2.W</key>
      <integer>-22</integer>
      <key>public.kern2.Y</key>
      <integer>-43</integer>
      <key>public.kern2.a</key>
      <integer>20</integer>
      <key>public.kern2.t</key>
      <integer>-5</integer>
      <key>public.kern2.u</key>
      <integer>-10</integer>
      <key>public.kern2.v</key>
      <integer>-28</integer>
      <key>public.kern2.w</key>
      <integer>-9</integer>
      <key>public.kern2.y</key>
      <integer>-25</integer>
    </dict>
    <key>public.kern1.B</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-15</integer>
      <key>public.kern2.V</key>
      <integer>-8</integer>
      <key>public.kern2.W</key>
      <integer>-6</integer>
      <key>public.kern2.X</key>
      <integer>-12</integer>
      <key>public.kern2.Y</key>
      <integer>-23</integer>
      <key>public.kern2.b</key>
      <integer>-3</integer>
      <key>public.kern2.c</key>
      <integer>-1</integer>
      <key>public.kern2.g</key>
      <integer>-5</integer>
      <key>public.kern2.x</key>
      <integer>-3</integer>
    </dict>
    <key>public.kern1.D</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-5</integer>
      <key>public.kern2.J</key>
      <integer>-15</integer>
      <key>public.kern2.T</key>
      <integer>-20</integer>
      <key>public.kern2.V</key>
      <integer>-11</integer>
      <key>public.kern2.W</key>
      <integer>-5</integer>
      <key>public.kern2.X</key>
      <integer>-31</integer>
      <key>public.kern2.Y</key>
      <integer>-26</integer>
      <key>public.kern2.Z</key>
      <integer>-15</integer>
      <key>public.kern2.c</key>
      <integer>8</integer>
      <key>public.kern2.underscore</key>
      <integer>-34</integer>
      <key>public.kern2.x</key>
      <integer>-10</integer>
      <key>public.kern2.y</key>
      <integer>0</integer>
      <key>public.kern2.z</key>
      <integer>-1</integer>
    </dict>
    <key>public.kern1.E</key>
    <dict>
      <key>public.kern2.J</key>
      <integer>-10</integer>
      <key>public.kern2.c</key>
      <integer>-5</integer>
      <key>public.kern2.g</key>
      <integer>-10</integer>
      <key>public.kern2.u</key>
      <integer>-10</integer>
      <key>public.kern2.v</key>
      <integer>-15</integer>
      <key>public.kern2.y</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.F</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-32</integer>
      <key>public.kern2.C</key>
      <integer>-9</integer>
      <key>public.kern2.J</key>
      <integer>-120</integer>
      <key>public.kern2.S</key>
      <integer>-5</integer>
      <key>public.kern2.T</key>
      <integer>15</integer>
      <key>public.kern2.X</key>
      <integer>-5</integer>
      <key>public.kern2.a</key>
      <integer>-20</integer>
      <key>public.kern2.c</key>
      <integer>-15</integer>
      <key>public.kern2.g</key>
      <integer>-10</integer>
      <key>public.kern2.m</key>
      <integer>-9</integer>
      <key>public.kern2.p</key>
      <integer>-9</integer>
      <key>public.kern2.s</key>
      <integer>-10</integer>
      <key>public.kern2.u</key>
      <integer>-15</integer>
      <key>public.kern2.v</key>
      <integer>-5</integer>
      <key>public.kern2.x</key>
      <integer>-15</integer>
      <key>public.kern2.z</key>
      <integer>-5</integer>
    </dict>
    <key>public.kern1.G</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-25</integer>
      <key>public.kern2.V</key>
      <integer>-15</integer>
      <key>public.kern2.W</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-24</integer>
      <key>public.kern2.a</key>
      <integer>14</integer>
    </dict>
    <key>public.kern1.J</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-15</integer>
    </dict>
    <key>public.kern1.K</key>
    <dict>
      <key>public.kern2.C</key>
      <integer>-30</integer>
      <key>public.kern2.J</key>
      <integer>-5</integer>
      <key>public.kern2.S</key>
      <integer>-10</integer>
      <key>public.kern2.U</key>
      <integer>-15</integer>
      <key>public.kern2.V</key>
      <integer>-5</integer>
      <key>public.kern2.W</key>
      <integer>-5</integer>
      <key>public.kern2.Y</key>
      <integer>20</integer>
      <key>public.kern2.c</key>
      <integer>-21</integer>
      <key>public.kern2.m</key>
      <integer>-8</integer>
      <key>public.kern2.p</key>
      <integer>-8</integer>
      <key>public.kern2.s</key>
      <integer>-4</integer>
      <key>public.kern2.t</key>
      <integer>-3</integer>
      <key>public.kern2.u</key>
      <integer>-12</integer>
      <key>public.kern2.v</key>
      <integer>-7</integer>
      <key>public.kern2.w</key>
      <integer>-14</integer>
      <key>public.kern2.y</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>public.kern2.C</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>-100</integer>
      <key>public.kern2.U</key>
      <integer>-20</integer>
      <key>public.kern2.V</key>
      <integer>-50</integer>
      <key>public.kern2.W</key>
      <integer>-30</integer>
      <key>public.kern2.Y</key>
      <integer>-60</integer>
      <key>public.kern2.t</key>
      <integer>-5</integer>
      <key>public.kern2.v</key>
      <integer>-24</integer>
      <key>public.kern2.w</key>
      <integer>-5</integer>
      <key>public.kern2.y</key>
      <integer>-22</integer>
      <key>public.kern2.z</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.P</key>
    <dict>
      <key>comma</key>
      <integer>-100</integer>
      <key>period</key>
      <integer>-100</integer>
      <key>public.kern2.A</key>
      <integer>-40</integer>
      <key>public.kern2.J</key>
      <integer>-75</integer>
      <key>public.kern2.W</key>
      <integer>8</integer>
      <key>public.kern2.X</key>
      <integer>-15</integer>
      <key>public.kern2.Z</key>
      <integer>-15</integer>
      <key>public.kern2.a</key>
      <integer>-5</integer>
      <key>public.kern2.c</key>
      <integer>-10</integer>
      <key>public.kern2.f</key>
      <integer>8</integer>
      <key>public.kern2.g</key>
      <integer>-10</integer>
      <key>public.kern2.t</key>
      <integer>15</integer>
      <key>public.kern2.u</key>
      <integer>-5</integer>
      <key>public.kern2.v</key>
      <integer>10</integer>
      <key>public.kern2.w</key>
      <integer>15</integer>
      <key>public.kern2.y</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1.R</key>
    <dict>
      <key>public.kern2.C</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>-15</integer>
      <key>public.kern2.U</key>
      <integer>-5</integer>
      <key>public.kern2.V</key>
      <integer>-15</integer>
      <key>public.kern2.W</key>
      <integer>-1</integer>
      <key>public.kern2.Y</key>
      <integer>-20</integer>
      <key>public.kern2.a</key>
      <integer>4</integer>
      <key>public.kern2.c</key>
      <integer>-5</integer>
      <key>public.kern2.u</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.R.ss01</key>
    <dict>
      <key>public.kern2.C</key>
      <integer>-30</integer>
      <key>public.kern2.V</key>
      <integer>80</integer>
    </dict>
    <key>public.kern1.S</key>
    <dict>
      <key>public.kern2.X</key>
      <integer>-15</integer>
      <key>public.kern2.Y</key>
      <integer>-15</integer>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-50</integer>
      <key>public.kern2.C</key>
      <integer>-20</integer>
      <key>public.kern2.J</key>
      <integer>-65</integer>
      <key>public.kern2.T</key>
      <integer>30</integer>
      <key>public.kern2.V</key>
      <integer>10</integer>
      <key>public.kern2.W</key>
      <integer>10</integer>
      <key>public.kern2.Y</key>
      <integer>10</integer>
      <key>public.kern2.a</key>
      <integer>-100</integer>
      <key>public.kern2.c</key>
      <integer>-120</integer>
      <key>public.kern2.g</key>
      <integer>-45</integer>
      <key>public.kern2.hbar</key>
      <integer>15</integer>
      <key>public.kern2.m</key>
      <integer>-60</integer>
      <key>public.kern2.n</key>
      <integer>-100</integer>
      <key>public.kern2.p</key>
      <integer>-20</integer>
      <key>public.kern2.period</key>
      <integer>-100</integer>
      <key>public.kern2.s</key>
      <integer>-100</integer>
      <key>public.kern2.u</key>
      <integer>-120</integer>
      <key>public.kern2.v</key>
      <integer>-10</integer>
      <key>public.kern2.w</key>
      <integer>-120</integer>
      <key>public.kern2.x</key>
      <integer>-15</integer>
      <key>public.kern2.y</key>
      <integer>-10</integer>
      <key>public.kern2.z</key>
      <integer>-120</integer>
    </dict>
    <key>public.kern1.Thorn</key>
    <dict>
      <key>public.kern2.v</key>
      <integer>10</integer>
      <key>public.kern2.x</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.U</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-10</integer>
      <key>public.kern2.J</key>
      <integer>-10</integer>
      <key>public.kern2.S</key>
      <integer>-10</integer>
      <key>public.kern2.X</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-10</integer>
      <key>public.kern2.x</key>
      <integer>-5</integer>
    </dict>
    <key>public.kern1.V</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-34</integer>
      <key>public.kern2.C</key>
      <integer>-11</integer>
      <key>public.kern2.J</key>
      <integer>-55</integer>
      <key>public.kern2.S</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>10</integer>
      <key>public.kern2.a</key>
      <integer>-13</integer>
      <key>public.kern2.ampersand</key>
      <integer>-20</integer>
      <key>public.kern2.at</key>
      <integer>-22</integer>
      <key>public.kern2.bullet</key>
      <integer>-28</integer>
      <key>public.kern2.c</key>
      <integer>-23</integer>
      <key>public.kern2.exclamdown</key>
      <integer>-20</integer>
      <key>public.kern2.g</key>
      <integer>-20</integer>
      <key>public.kern2.m</key>
      <integer>-13</integer>
      <key>public.kern2.p</key>
      <integer>-13</integer>
      <key>public.kern2.periodcentered</key>
      <integer>-40</integer>
      <key>public.kern2.question</key>
      <integer>24</integer>
      <key>public.kern2.questiondown</key>
      <integer>-70</integer>
      <key>public.kern2.s</key>
      <integer>-15</integer>
      <key>public.kern2.slash</key>
      <integer>-65</integer>
      <key>public.kern2.trademark</key>
      <integer>22</integer>
      <key>public.kern2.u</key>
      <integer>-10</integer>
      <key>public.kern2.underscore</key>
      <integer>-102</integer>
      <key>public.kern2.z</key>
      <integer>-5</integer>
    </dict>
    <key>public.kern1.W</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-22</integer>
      <key>public.kern2.C</key>
      <integer>-5</integer>
      <key>public.kern2.J</key>
      <integer>-30</integer>
      <key>public.kern2.S</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>10</integer>
      <key>public.kern2.a</key>
      <integer>-9</integer>
      <key>public.kern2.c</key>
      <integer>-15</integer>
      <key>public.kern2.g</key>
      <integer>-20</integer>
      <key>public.kern2.m</key>
      <integer>-3</integer>
      <key>public.kern2.p</key>
      <integer>-3</integer>
      <key>public.kern2.u</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.X</key>
    <dict>
      <key>public.kern2.C</key>
      <integer>-27</integer>
      <key>public.kern2.S</key>
      <integer>-15</integer>
      <key>public.kern2.U</key>
      <integer>-10</integer>
      <key>public.kern2.c</key>
      <integer>-16</integer>
      <key>public.kern2.g</key>
      <integer>-2</integer>
      <key>public.kern2.u</key>
      <integer>-10</integer>
      <key>public.kern2.v</key>
      <integer>-26</integer>
      <key>public.kern2.w</key>
      <integer>-17</integer>
      <key>public.kern2.y</key>
      <integer>-24</integer>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-43</integer>
      <key>public.kern2.C</key>
      <integer>-26</integer>
      <key>public.kern2.J</key>
      <integer>-70</integer>
      <key>public.kern2.S</key>
      <integer>-25</integer>
      <key>public.kern2.T</key>
      <integer>10</integer>
      <key>public.kern2.U</key>
      <integer>-10</integer>
      <key>public.kern2.a</key>
      <integer>-32</integer>
      <key>public.kern2.c</key>
      <integer>-41</integer>
      <key>public.kern2.g</key>
      <integer>-38</integer>
      <key>public.kern2.m</key>
      <integer>-23</integer>
      <key>public.kern2.p</key>
      <integer>-21</integer>
      <key>public.kern2.s</key>
      <integer>-36</integer>
      <key>public.kern2.u</key>
      <integer>-20</integer>
      <key>public.kern2.v</key>
      <integer>-10</integer>
      <key>public.kern2.w</key>
      <integer>-10</integer>
      <key>public.kern2.x</key>
      <integer>-20</integer>
      <key>public.kern2.y</key>
      <integer>-10</integer>
      <key>public.kern2.z</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.Z</key>
    <dict>
      <key>public.kern2.C</key>
      <integer>-5</integer>
      <key>public.kern2.c</key>
      <integer>-5</integer>
      <key>public.kern2.u</key>
      <integer>-5</integer>
      <key>public.kern2.v</key>
      <integer>-5</integer>
    </dict>
    <key>public.kern1.a</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>20</integer>
      <key>public.kern2.C</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>-65</integer>
      <key>public.kern2.U</key>
      <integer>-10</integer>
      <key>public.kern2.V</key>
      <integer>-28</integer>
      <key>public.kern2.W</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-53</integer>
      <key>public.kern2.a</key>
      <integer>10</integer>
      <key>public.kern2.u</key>
      <integer>-10</integer>
      <key>public.kern2.v</key>
      <integer>-12</integer>
      <key>public.kern2.w</key>
      <integer>-6</integer>
      <key>public.kern2.y</key>
      <integer>-12</integer>
    </dict>
    <key>public.kern1.ampersand</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-48</integer>
      <key>public.kern2.v</key>
      <integer>-35</integer>
    </dict>
    <key>public.kern1.asterisk</key>
    <dict>
      <key>public.kern2.v</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.at</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-20</integer>
      <key>public.kern2.x</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.b</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-48</integer>
      <key>public.kern2.V</key>
      <integer>-23</integer>
      <key>public.kern2.W</key>
      <integer>-15</integer>
      <key>public.kern2.X</key>
      <integer>-16</integer>
      <key>public.kern2.Y</key>
      <integer>-39</integer>
      <key>public.kern2.Z</key>
      <integer>-10</integer>
      <key>public.kern2.v</key>
      <integer>-5</integer>
      <key>public.kern2.z</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.backslash</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-65</integer>
      <key>public.kern2.v</key>
      <integer>-26</integer>
      <key>public.kern2.x</key>
      <integer>-2</integer>
    </dict>
    <key>public.kern1.bullet</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-28</integer>
    </dict>
    <key>public.kern1.c</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-30</integer>
      <key>public.kern2.V</key>
      <integer>-15</integer>
      <key>public.kern2.W</key>
      <integer>-10</integer>
      <key>public.kern2.X</key>
      <integer>-5</integer>
      <key>public.kern2.Y</key>
      <integer>-35</integer>
    </dict>
    <key>public.kern1.comma</key>
    <dict>
      <key>public.kern2.j</key>
      <integer>7</integer>
    </dict>
    <key>public.kern1.d</key>
    <dict>
      <key>public.kern2.u</key>
      <integer>16</integer>
    </dict>
    <key>public.kern1.e</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-45</integer>
      <key>public.kern2.V</key>
      <integer>-20</integer>
      <key>public.kern2.W</key>
      <integer>-10</integer>
      <key>public.kern2.X</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-35</integer>
      <key>public.kern2.a</key>
      <integer>4</integer>
      <key>public.kern2.g</key>
      <integer>-5</integer>
      <key>public.kern2.v</key>
      <integer>-5</integer>
      <key>public.kern2.y</key>
      <integer>-5</integer>
    </dict>
    <key>public.kern1.eth</key>
    <dict>
      <key>public.kern2.x</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.exclamdown</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.f</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>60</integer>
      <key>public.kern2.V</key>
      <integer>55</integer>
      <key>public.kern2.W</key>
      <integer>50</integer>
      <key>public.kern2.X</key>
      <integer>50</integer>
      <key>public.kern2.Y</key>
      <integer>50</integer>
      <key>public.kern2.Z</key>
      <integer>50</integer>
      <key>public.kern2.hbar</key>
      <integer>58</integer>
      <key>public.kern2.t</key>
      <integer>3</integer>
      <key>public.kern2.v</key>
      <integer>10</integer>
      <key>public.kern2.w</key>
      <integer>2</integer>
      <key>public.kern2.z</key>
      <integer>4</integer>
    </dict>
    <key>public.kern1.g</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-15</integer>
      <key>public.kern2.C</key>
      <integer>-10</integer>
      <key>public.kern2.S</key>
      <integer>-5</integer>
      <key>public.kern2.Y</key>
      <integer>-15</integer>
      <key>public.kern2.a</key>
      <integer>-5</integer>
      <key>public.kern2.c</key>
      <integer>-20</integer>
      <key>public.kern2.comma</key>
      <integer>-3</integer>
      <key>public.kern2.j</key>
      <integer>10</integer>
      <key>public.kern2.s</key>
      <integer>-10</integer>
      <key>public.kern2.u</key>
      <integer>-8</integer>
    </dict>
    <key>public.kern1.germandbls</key>
    <dict>
      <key>public.kern2.v</key>
      <integer>-10</integer>
      <key>public.kern2.x</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.h</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-30</integer>
      <key>public.kern2.V</key>
      <integer>-15</integer>
      <key>public.kern2.Y</key>
      <integer>-25</integer>
      <key>public.kern2.v</key>
      <integer>-5</integer>
      <key>public.kern2.y</key>
      <integer>-5</integer>
    </dict>
    <key>public.kern1.i</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.j</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-30</integer>
      <key>public.kern2.U</key>
      <integer>-10</integer>
      <key>public.kern2.j</key>
      <integer>5</integer>
    </dict>
    <key>public.kern1.k</key>
    <dict>
      <key>public.kern2.C</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-20</integer>
      <key>public.kern2.a</key>
      <integer>-4</integer>
      <key>public.kern2.b</key>
      <integer>-5</integer>
      <key>public.kern2.c</key>
      <integer>-22</integer>
      <key>public.kern2.j</key>
      <integer>-5</integer>
      <key>public.kern2.s</key>
      <integer>-5</integer>
      <key>public.kern2.u</key>
      <integer>-5</integer>
    </dict>
    <key>public.kern1.l</key>
    <dict>
      <key>public.kern2.C</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>-25</integer>
      <key>public.kern2.V</key>
      <integer>-30</integer>
      <key>public.kern2.W</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-30</integer>
      <key>public.kern2.c</key>
      <integer>-10</integer>
      <key>public.kern2.g</key>
      <integer>-10</integer>
      <key>public.kern2.j</key>
      <integer>-14</integer>
      <key>public.kern2.t</key>
      <integer>-3</integer>
      <key>public.kern2.u</key>
      <integer>-5</integer>
      <key>public.kern2.v</key>
      <integer>-25</integer>
      <key>public.kern2.w</key>
      <integer>-15</integer>
      <key>public.kern2.y</key>
      <integer>-15</integer>
    </dict>
    <key>public.kern1.periodcentered</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-40</integer>
      <key>public.kern2.x</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.q</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-20</integer>
      <key>public.kern2.V</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-15</integer>
      <key>public.kern2.backslash</key>
      <integer>-20</integer>
      <key>public.kern2.underscore</key>
      <integer>4</integer>
    </dict>
    <key>public.kern1.questiondown</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-58</integer>
      <key>public.kern2.v</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.quotedblbase</key>
    <dict>
      <key>public.kern2.j</key>
      <integer>7</integer>
    </dict>
    <key>public.kern1.quotesinglbase</key>
    <dict>
      <key>public.kern2.j</key>
      <integer>6</integer>
    </dict>
    <key>public.kern1.r</key>
    <dict>
      <key>g.ss01</key>
      <integer>-40</integer>
      <key>public.kern2.A</key>
      <integer>-30</integer>
      <key>public.kern2.T</key>
      <integer>-10</integer>
      <key>public.kern2.X</key>
      <integer>-15</integer>
      <key>public.kern2.a</key>
      <integer>-12</integer>
      <key>public.kern2.c</key>
      <integer>-22</integer>
      <key>public.kern2.g</key>
      <integer>-15</integer>
      <key>public.kern2.j</key>
      <integer>-10</integer>
      <key>public.kern2.period</key>
      <integer>-120</integer>
      <key>public.kern2.v</key>
      <integer>50</integer>
      <key>public.kern2.w</key>
      <integer>50</integer>
    </dict>
    <key>public.kern1.s</key>
    <dict>
      <key>public.kern2.C</key>
      <integer>-5</integer>
      <key>public.kern2.T</key>
      <integer>-45</integer>
      <key>public.kern2.V</key>
      <integer>-5</integer>
      <key>public.kern2.X</key>
      <integer>-5</integer>
      <key>public.kern2.Y</key>
      <integer>-20</integer>
      <key>public.kern2.a</key>
      <integer>8</integer>
      <key>public.kern2.x</key>
      <integer>-5</integer>
    </dict>
    <key>public.kern1.slash</key>
    <dict>
      <key>public.kern2.v</key>
      <integer>-4</integer>
      <key>public.kern2.x</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.t</key>
    <dict>
      <key>public.kern2.c</key>
      <integer>-5</integer>
      <key>public.kern2.f</key>
      <integer>-25</integer>
      <key>public.kern2.g</key>
      <integer>-5</integer>
      <key>public.kern2.s</key>
      <integer>20</integer>
      <key>public.kern2.w</key>
      <integer>40</integer>
    </dict>
    <key>public.kern1.u</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-30</integer>
      <key>public.kern2.V</key>
      <integer>-10</integer>
      <key>public.kern2.W</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-15</integer>
      <key>public.kern2.g</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.underscore</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-102</integer>
      <key>public.kern2.v</key>
      <integer>-74</integer>
    </dict>
    <key>public.kern1.v</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-25</integer>
      <key>public.kern2.T</key>
      <integer>-10</integer>
      <key>public.kern2.X</key>
      <integer>-26</integer>
      <key>public.kern2.Y</key>
      <integer>-10</integer>
      <key>public.kern2.Z</key>
      <integer>-20</integer>
      <key>public.kern2.a</key>
      <integer>-2</integer>
      <key>public.kern2.ampersand</key>
      <integer>-5</integer>
      <key>public.kern2.asterisk</key>
      <integer>20</integer>
      <key>public.kern2.backslash</key>
      <integer>-4</integer>
      <key>public.kern2.c</key>
      <integer>-5</integer>
      <key>public.kern2.eth</key>
      <integer>-15</integer>
      <key>public.kern2.g</key>
      <integer>-5</integer>
      <key>public.kern2.question</key>
      <integer>15</integer>
      <key>public.kern2.questiondown</key>
      <integer>-40</integer>
      <key>public.kern2.s</key>
      <integer>-5</integer>
      <key>public.kern2.slash</key>
      <integer>-26</integer>
      <key>public.kern2.t</key>
      <integer>50</integer>
      <key>public.kern2.underscore</key>
      <integer>-74</integer>
      <key>public.kern2.v</key>
      <integer>50</integer>
    </dict>
    <key>public.kern1.w</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-5</integer>
      <key>public.kern2.T</key>
      <integer>-10</integer>
      <key>public.kern2.X</key>
      <integer>-17</integer>
      <key>public.kern2.Y</key>
      <integer>-10</integer>
      <key>public.kern2.Z</key>
      <integer>-5</integer>
      <key>public.kern2.a</key>
      <integer>4</integer>
      <key>public.kern2.s</key>
      <integer>-5</integer>
      <key>public.kern2.t</key>
      <integer>50</integer>
      <key>public.kern2.v</key>
      <integer>40</integer>
    </dict>
    <key>public.kern1.x</key>
    <dict>
      <key>public.kern2.C</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>-15</integer>
      <key>public.kern2.U</key>
      <integer>-5</integer>
      <key>public.kern2.Y</key>
      <integer>-20</integer>
      <key>public.kern2.ampersand</key>
      <integer>-10</integer>
      <key>public.kern2.backslash</key>
      <integer>-20</integer>
      <key>public.kern2.eth</key>
      <integer>-10</integer>
      <key>public.kern2.periodcentered</key>
      <integer>-20</integer>
      <key>public.kern2.s</key>
      <integer>-5</integer>
      <key>public.kern2.slash</key>
      <integer>-2</integer>
      <key>public.kern2.t</key>
      <integer>50</integer>
      <key>public.kern2.u</key>
      <integer>-5</integer>
    </dict>
    <key>public.kern1.y</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-25</integer>
      <key>public.kern2.T</key>
      <integer>-10</integer>
      <key>public.kern2.X</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-10</integer>
      <key>public.kern2.Z</key>
      <integer>-10</integer>
      <key>public.kern2.a</key>
      <integer>40</integer>
      <key>public.kern2.c</key>
      <integer>-5</integer>
      <key>public.kern2.g</key>
      <integer>-15</integer>
      <key>public.kern2.s</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.z</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-10</integer>
      <key>public.kern2.c</key>
      <integer>-10</integer>
    </dict>
    <key>question</key>
    <dict>
      <key>eth</key>
      <integer>-15</integer>
    </dict>
    <key>questiondown</key>
    <dict>
      <key>eth</key>
      <integer>-30</integer>
    </dict>
    <key>slash</key>
    <dict>
      <key>eth</key>
      <integer>-32</integer>
      <key>germandbls</key>
      <integer>-12</integer>
      <key>slash</key>
      <integer>-92</integer>
    </dict>
    <key>tcaron</key>
    <dict>
      <key>bracketright</key>
      <integer>20</integer>
      <key>parenright</key>
      <integer>33</integer>
      <key>quotedblleft</key>
      <integer>11</integer>
      <key>quotedblright</key>
      <integer>12</integer>
    </dict>
    <key>underscore</key>
    <dict>
      <key>eth</key>
      <integer>-34</integer>
      <key>thorn</key>
      <integer>8</integer>
    </dict>
  </dict>
</plist>
