<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.A</key>
    <array>
      <string>A</string>
      <string>Abreveacute</string>
      <string>Abrevedotbelow</string>
      <string>Abrevegrave</string>
      <string>Abrevehookabove</string>
      <string>Abrevetilde</string>
      <string>Acaron</string>
      <string>Acircumflexacute</string>
      <string>Acircumflexdotbelow</string>
      <string>Acircumflexgrave</string>
      <string>Acircumflexhookabove</string>
      <string>Acircumflextilde</string>
      <string>Adblgrave</string>
      <string>Adotbelow</string>
      <string>Ahookabove</string>
      <string>Ainvertedbreve</string>
    </array>
    <key>public.kern1.B</key>
    <array>
      <string>B</string>
    </array>
    <key>public.kern1.D</key>
    <array>
      <string>D</string>
      <string>O</string>
      <string>Q</string>
    </array>
    <key>public.kern1.E</key>
    <array>
      <string>E</string>
      <string>Ebreve</string>
      <string>Ecedillabreve</string>
      <string>Ecircumflexacute</string>
      <string>Ecircumflexdotbelow</string>
      <string>Ecircumflexgrave</string>
      <string>Ecircumflexhookabove</string>
      <string>Ecircumflextilde</string>
      <string>Edblgrave</string>
      <string>Edotbelow</string>
      <string>Ehookabove</string>
      <string>Einvertedbreve</string>
      <string>Emacronacute</string>
      <string>Emacrongrave</string>
      <string>Etilde</string>
    </array>
    <key>public.kern1.F</key>
    <array>
      <string>F</string>
    </array>
    <key>public.kern1.G</key>
    <array>
      <string>G</string>
    </array>
    <key>public.kern1.J</key>
    <array>
      <string>J</string>
    </array>
    <key>public.kern1.K</key>
    <array>
      <string>K</string>
    </array>
    <key>public.kern1.L</key>
    <array>
      <string>L</string>
    </array>
    <key>public.kern1.P</key>
    <array>
      <string>P</string>
    </array>
    <key>public.kern1.R</key>
    <array>
      <string>R</string>
    </array>
    <key>public.kern1.S</key>
    <array>
      <string>S</string>
    </array>
    <key>public.kern1.T</key>
    <array>
      <string>T</string>
    </array>
    <key>public.kern1.U</key>
    <array>
      <string>U</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
      <string>Uhungarumlaut</string>
      <string>Umacron</string>
      <string>Uogonek</string>
      <string>Uring</string>
    </array>
    <key>public.kern1.V</key>
    <array>
      <string>V</string>
    </array>
    <key>public.kern1.W</key>
    <array>
      <string>W</string>
    </array>
    <key>public.kern1.X</key>
    <array>
      <string>X</string>
    </array>
    <key>public.kern1.Y</key>
    <array>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ygrave</string>
    </array>
    <key>public.kern1.Z</key>
    <array>
      <string>Z</string>
    </array>
    <key>public.kern1.a</key>
    <array>
      <string>a</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>abreveacute</string>
      <string>abrevedotbelow</string>
      <string>abrevegrave</string>
      <string>abrevehookabove</string>
      <string>abrevetilde</string>
      <string>acaron</string>
      <string>acircumflex</string>
      <string>acircumflexacute</string>
      <string>acircumflexdotbelow</string>
      <string>acircumflexgrave</string>
      <string>acircumflexhookabove</string>
      <string>acircumflextilde</string>
      <string>adblgrave</string>
      <string>adieresis</string>
      <string>adotbelow</string>
      <string>agrave</string>
      <string>ahookabove</string>
      <string>ainvertedbreve</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>aring</string>
      <string>aringacute</string>
      <string>atilde</string>
    </array>
    <key>public.kern1.b</key>
    <array>
      <string>b</string>
      <string>o</string>
      <string>oacute</string>
      <string>obreve</string>
      <string>ocaron</string>
      <string>ocircumflex</string>
      <string>ocircumflexacute</string>
      <string>ocircumflexdotbelow</string>
      <string>ocircumflexgrave</string>
      <string>ocircumflexhookabove</string>
      <string>ocircumflextilde</string>
      <string>odblgrave</string>
      <string>odieresis</string>
      <string>odieresismacron</string>
      <string>odotaccentmacron</string>
      <string>odotbelow</string>
      <string>ograve</string>
      <string>ohookabove</string>
      <string>ohorn</string>
      <string>ohornacute</string>
      <string>ohorndotbelow</string>
      <string>ohorngrave</string>
      <string>ohornhookabove</string>
      <string>ohorntilde</string>
      <string>ohungarumlaut</string>
      <string>oinvertedbreve</string>
      <string>omacron</string>
      <string>omacronacute</string>
      <string>omacrongrave</string>
      <string>oogonek</string>
      <string>oslash</string>
      <string>oslashacute</string>
      <string>otilde</string>
      <string>otildeacute</string>
      <string>otildedieresis</string>
      <string>otildemacron</string>
      <string>oe</string>
      <string>p</string>
    </array>
    <key>public.kern1.c</key>
    <array>
      <string>c</string>
    </array>
    <key>public.kern1.d</key>
    <array>
      <string>d</string>
    </array>
    <key>public.kern1.e</key>
    <array>
      <string>e</string>
      <string>eacute</string>
      <string>ebreve</string>
      <string>ecaron</string>
      <string>ecedillabreve</string>
      <string>ecircumflex</string>
      <string>ecircumflexacute</string>
      <string>ecircumflexdotbelow</string>
      <string>ecircumflexgrave</string>
      <string>ecircumflexhookabove</string>
      <string>ecircumflextilde</string>
      <string>edblgrave</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>edotbelow</string>
      <string>egrave</string>
      <string>ehookabove</string>
      <string>einvertedbreve</string>
      <string>emacron</string>
      <string>emacronacute</string>
      <string>emacrongrave</string>
      <string>eogonek</string>
      <string>etilde</string>
    </array>
    <key>public.kern1.f</key>
    <array>
      <string>f</string>
    </array>
    <key>public.kern1.g</key>
    <array>
      <string>g</string>
    </array>
    <key>public.kern1.h</key>
    <array>
      <string>h</string>
      <string>m</string>
      <string>n</string>
    </array>
    <key>public.kern1.i</key>
    <array>
      <string>i</string>
    </array>
    <key>public.kern1.j</key>
    <array>
      <string>j</string>
    </array>
    <key>public.kern1.k</key>
    <array>
      <string>k</string>
    </array>
    <key>public.kern1.l</key>
    <array>
      <string>l</string>
    </array>
    <key>public.kern1.q</key>
    <array>
      <string>q</string>
    </array>
    <key>public.kern1.r</key>
    <array>
      <string>r</string>
    </array>
    <key>public.kern1.s</key>
    <array>
      <string>s</string>
    </array>
    <key>public.kern1.t</key>
    <array>
      <string>t</string>
    </array>
    <key>public.kern1.u</key>
    <array>
      <string>u</string>
      <string>uacute</string>
      <string>ubreve</string>
      <string>ucaron</string>
      <string>ucircumflex</string>
      <string>udblgrave</string>
      <string>udieresis</string>
      <string>udotbelow</string>
      <string>ugrave</string>
      <string>uhookabove</string>
      <string>uhorn</string>
      <string>uhornacute</string>
      <string>uhorndotbelow</string>
      <string>uhorngrave</string>
      <string>uhornhookabove</string>
      <string>uhorntilde</string>
      <string>uhungarumlaut</string>
      <string>uinvertedbreve</string>
      <string>umacron</string>
      <string>umacrondieresis</string>
      <string>uogonek</string>
      <string>uring</string>
      <string>utilde</string>
      <string>utildeacute</string>
    </array>
    <key>public.kern1.v</key>
    <array>
      <string>v</string>
    </array>
    <key>public.kern1.w</key>
    <array>
      <string>w</string>
    </array>
    <key>public.kern1.x</key>
    <array>
      <string>x</string>
    </array>
    <key>public.kern1.y</key>
    <array>
      <string>y</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>ydotaccent</string>
      <string>ydotbelow</string>
      <string>ygrave</string>
    </array>
    <key>public.kern1.z</key>
    <array>
      <string>z</string>
    </array>
    <key>public.kern2.A</key>
    <array>
      <string>A</string>
      <string>Abreveacute</string>
      <string>Abrevedotbelow</string>
      <string>Abrevegrave</string>
      <string>Abrevehookabove</string>
      <string>Abrevetilde</string>
      <string>Acaron</string>
      <string>Acircumflexacute</string>
      <string>Acircumflexdotbelow</string>
      <string>Acircumflexgrave</string>
      <string>Acircumflexhookabove</string>
      <string>Acircumflextilde</string>
      <string>Adblgrave</string>
      <string>Adotbelow</string>
      <string>Ahookabove</string>
      <string>Ainvertedbreve</string>
    </array>
    <key>public.kern2.C</key>
    <array>
      <string>C</string>
      <string>G</string>
      <string>O</string>
      <string>Q</string>
    </array>
    <key>public.kern2.J</key>
    <array>
      <string>J</string>
    </array>
    <key>public.kern2.S</key>
    <array>
      <string>S</string>
    </array>
    <key>public.kern2.T</key>
    <array>
      <string>T</string>
    </array>
    <key>public.kern2.U</key>
    <array>
      <string>U</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
      <string>Uhungarumlaut</string>
      <string>Umacron</string>
      <string>Uogonek</string>
      <string>Uring</string>
    </array>
    <key>public.kern2.V</key>
    <array>
      <string>V</string>
    </array>
    <key>public.kern2.W</key>
    <array>
      <string>W</string>
    </array>
    <key>public.kern2.X</key>
    <array>
      <string>X</string>
    </array>
    <key>public.kern2.Y</key>
    <array>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ygrave</string>
    </array>
    <key>public.kern2.Z</key>
    <array>
      <string>Z</string>
    </array>
    <key>public.kern2.a</key>
    <array>
      <string>a</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>abreveacute</string>
      <string>abrevedotbelow</string>
      <string>abrevegrave</string>
      <string>abrevehookabove</string>
      <string>abrevetilde</string>
      <string>acaron</string>
      <string>acircumflex</string>
      <string>acircumflexacute</string>
      <string>acircumflexdotbelow</string>
      <string>acircumflexgrave</string>
      <string>acircumflexhookabove</string>
      <string>acircumflextilde</string>
      <string>adblgrave</string>
      <string>adieresis</string>
      <string>adotbelow</string>
      <string>agrave</string>
      <string>ahookabove</string>
      <string>ainvertedbreve</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>aring</string>
      <string>aringacute</string>
      <string>atilde</string>
      <string>a.ss01</string>
    </array>
    <key>public.kern2.b</key>
    <array>
      <string>b</string>
      <string>h</string>
      <string>k</string>
      <string>l</string>
    </array>
    <key>public.kern2.c</key>
    <array>
      <string>c</string>
      <string>d</string>
      <string>e</string>
      <string>eacute</string>
      <string>ebreve</string>
      <string>ecaron</string>
      <string>ecedillabreve</string>
      <string>ecircumflex</string>
      <string>ecircumflexacute</string>
      <string>ecircumflexdotbelow</string>
      <string>ecircumflexgrave</string>
      <string>ecircumflexhookabove</string>
      <string>ecircumflextilde</string>
      <string>edblgrave</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>edotbelow</string>
      <string>egrave</string>
      <string>ehookabove</string>
      <string>einvertedbreve</string>
      <string>emacron</string>
      <string>emacronacute</string>
      <string>emacrongrave</string>
      <string>eogonek</string>
      <string>etilde</string>
      <string>o</string>
      <string>q</string>
    </array>
    <key>public.kern2.comma</key>
    <array>
      <string>comma</string>
    </array>
    <key>public.kern2.f</key>
    <array>
      <string>f</string>
    </array>
    <key>public.kern2.g</key>
    <array>
      <string>g</string>
    </array>
    <key>public.kern2.j</key>
    <array>
      <string>j</string>
    </array>
    <key>public.kern2.m</key>
    <array>
      <string>m</string>
      <string>n</string>
      <string>r</string>
    </array>
    <key>public.kern2.o</key>
    <array>
      <string>oacute</string>
      <string>obreve</string>
      <string>ocaron</string>
      <string>ocircumflex</string>
      <string>ocircumflexacute</string>
      <string>ocircumflexdotbelow</string>
      <string>ocircumflexgrave</string>
      <string>ocircumflexhookabove</string>
      <string>ocircumflextilde</string>
      <string>odblgrave</string>
      <string>odieresis</string>
      <string>odieresismacron</string>
      <string>odotaccentmacron</string>
      <string>odotbelow</string>
      <string>ograve</string>
      <string>ohookabove</string>
      <string>ohorn</string>
      <string>ohornacute</string>
      <string>ohorndotbelow</string>
      <string>ohorngrave</string>
      <string>ohornhookabove</string>
      <string>ohorntilde</string>
      <string>ohungarumlaut</string>
      <string>oinvertedbreve</string>
      <string>omacron</string>
      <string>omacronacute</string>
      <string>omacrongrave</string>
      <string>oogonek</string>
      <string>oslash</string>
      <string>oslashacute</string>
      <string>otilde</string>
      <string>otildeacute</string>
      <string>otildedieresis</string>
      <string>otildemacron</string>
      <string>oe</string>
    </array>
    <key>public.kern2.p</key>
    <array>
      <string>p</string>
    </array>
    <key>public.kern2.period</key>
    <array>
      <string>period</string>
    </array>
    <key>public.kern2.s</key>
    <array>
      <string>s</string>
    </array>
    <key>public.kern2.t</key>
    <array>
      <string>t</string>
    </array>
    <key>public.kern2.u</key>
    <array>
      <string>u</string>
      <string>uacute</string>
      <string>ubreve</string>
      <string>ucaron</string>
      <string>ucircumflex</string>
      <string>udblgrave</string>
      <string>udieresis</string>
      <string>udotbelow</string>
      <string>ugrave</string>
      <string>uhookabove</string>
      <string>uhorn</string>
      <string>uhornacute</string>
      <string>uhorndotbelow</string>
      <string>uhorngrave</string>
      <string>uhornhookabove</string>
      <string>uhorntilde</string>
      <string>uhungarumlaut</string>
      <string>uinvertedbreve</string>
      <string>umacron</string>
      <string>umacrondieresis</string>
      <string>uogonek</string>
      <string>uring</string>
      <string>utilde</string>
      <string>utildeacute</string>
    </array>
    <key>public.kern2.v</key>
    <array>
      <string>v</string>
    </array>
    <key>public.kern2.w</key>
    <array>
      <string>w</string>
    </array>
    <key>public.kern2.x</key>
    <array>
      <string>x</string>
    </array>
    <key>public.kern2.y</key>
    <array>
      <string>y</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>ydotaccent</string>
      <string>ydotbelow</string>
      <string>ygrave</string>
    </array>
    <key>public.kern2.z</key>
    <array>
      <string>z</string>
    </array>
  </dict>
</plist>
