<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>H</key>
    <string>H_.glif</string>
    <key>Schwa</key>
    <string>S_chwa.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>approxequal</key>
    <string>approxequal.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>brevebelowcomb</key>
    <string>brevebelowcomb.glif</string>
    <key>caron</key>
    <string>caron.glif</string>
    <key>caron.case</key>
    <string>caron.case.glif</string>
    <key>circumflex.case</key>
    <string>circumflex.case.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>dblgravecomb.case</key>
    <string>dblgravecomb.case.glif</string>
    <key>dieresisbelowcomb.case</key>
    <string>dieresisbelowcomb.case.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>eightsuperior</key>
    <string>eightsuperior.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>euro</key>
    <string>euro.glif</string>
    <key>exclamdown</key>
    <string>exclamdown.glif</string>
    <key>fivesuperior</key>
    <string>fivesuperior.glif</string>
    <key>foursuperior</key>
    <string>foursuperior.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>jdotless</key>
    <string>jdotless.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>micro</key>
    <string>micro.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>ninesuperior</key>
    <string>ninesuperior.glif</string>
    <key>notequal</key>
    <string>notequal.glif</string>
    <key>ogonekcomb</key>
    <string>ogonekcomb.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>perthousand</key>
    <string>perthousand.glif</string>
    <key>plusminus</key>
    <string>plusminus.glif</string>
    <key>product</key>
    <string>product.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>questiondown</key>
    <string>questiondown.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>sevensuperior</key>
    <string>sevensuperior.glif</string>
    <key>sixsuperior</key>
    <string>sixsuperior.glif</string>
    <key>tilde</key>
    <string>tilde.glif</string>
    <key>tilde.case</key>
    <string>tilde.case.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
  </dict>
</plist>
